# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Node/web
node_modules/
.cache/

# Build/packaging
/dist/
/build/

# Logs
*.log
